<!DOCTYPE html>
<!--[if IE 9]>         <html class="ie9 no-focus"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-focus"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>Sinatra Template</title>

        <meta name="description" content="Sinatra Template">
        <meta name="author" content="rocLv">
        <meta name="robots" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

        <!-- Icons -->
        <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
        <link rel="shortcut icon" href="assets/images/favicons/favicon.png">

        <link rel="icon" type="image/png" href="assets/images/favicons/favicon-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="assets/images/favicons/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="assets/images/favicons/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="assets/images/favicons/favicon-160x160.png" sizes="160x160">
        <link rel="icon" type="image/png" href="assets/images/favicons/favicon-192x192.png" sizes="192x192">

        <link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="assets/images/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicons/apple-touch-icon-180x180.png">
        <!-- END Icons -->

        <!-- Stylesheets -->
        <!-- Web fonts -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/stylesheets?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">

        <!-- Bootstrap and  CSS framework -->
        <link rel="stylesheet" href="assets/stylesheets/bootstrap.min.stylesheets">
        <link rel="stylesheet" id="stylesheets-main" href="assets/stylesheets/oneui.stylesheets">

        <!-- You can include a specific file from stylesheets/themes/ folder to alter the default color theme of the template. eg: -->
        <!-- <link rel="stylesheet" id="stylesheets-theme" href="assets/stylesheets/themes/flat.min.stylesheets"> -->
        <!-- END Stylesheets -->
    </head>
    <body>
      <%= yield %>
        <script src="assets/javascripts/core/jquery.min.javascripts"></script>
        <script src="assets/javascripts/core/bootstrap.min.javascripts"></script>
        <script src="assets/javascripts/core/jquery.slimscroll.min.javascripts"></script>
        <script src="assets/javascripts/core/jquery.scrollLock.min.javascripts"></script>
        <script src="assets/javascripts/core/jquery.appear.min.javascripts"></script>
        <script src="assets/javascripts/core/jquery.countTo.min.javascripts"></script>
        <script src="assets/javascripts/core/jquery.placeholder.min.javascripts"></script>
        <script src="assets/javascripts/core/javascripts.cookie.min.javascripts"></script>
        <script src="assets/javascripts/app.javascripts"></script>

        <!-- Page JS Plugins -->
        <script src="assets/javascripts/plugins/sparkline/jquery.sparkline.min.javascripts"></script>
        <script src="assets/javascripts/plugins/easy-pie-chart/jquery.easypiechart.min.javascripts"></script>
        <script src="assets/javascripts/plugins/chartjavascripts/Chart.min.javascripts"></script>
        <script src="assets/javascripts/plugins/flot/jquery.flot.min.javascripts"></script>
        <script src="assets/javascripts/plugins/flot/jquery.flot.pie.min.javascripts"></script>
        <script src="assets/javascripts/plugins/flot/jquery.flot.stack.min.javascripts"></script>
        <script src="assets/javascripts/plugins/flot/jquery.flot.resize.min.javascripts"></script>

        <!-- Page JS Code -->
        <script src="assets/javascripts/pages/base_comp_charts.javascripts"></script>
        <script>
            jQuery(function () {
                // Init page helpers (Easy Pie Chart plugin)
                App.initHelpers('easy-pie-chart');
            });
        </script>
    </body>
</html>
